# Environment variables
.env
.env.*
env.template

# Node modules
node_modules/

# Logs
logs/
*.log
*.log.*

# Debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma
prisma/dev.db
prisma/.env

# Docker 
db_data/
/src/generated/prisma
